@model IEnumerable<Sovamo.Models.CadEstabelecimento>

@{
    ViewBag.Title = "Index";
}

<h2>Estabelecimentos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Descricão)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Situacao)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Descricão)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Situacao)
        </td>
        <td>
            |
            @Html.ActionLink("Detalhes", "Detais", new { id=item.EstabelecimentoId }, new { @class = "btn btn-success" })
        </td>
    </tr>
}

</table>
