@model IEnumerable<Sovamo.Models.Evento>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">


</script>


<h2>Meus Eventos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Atracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstiloMusical)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstiloMusical)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                <div id="escondeUsuario">
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventoId, }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventoId }, new { @class = "btn btn-danger" }) |
                </div>
                <input type="button" id="btnHabilitasorteio" class="btn btn-primary" value="Disponibilizar para sorteio" />
                <input type="button" id="btnParticipar" class="btn btn-success" value="Participar" />

            </td>

        </tr>
        

    }


</table>
