@model IEnumerable<Sovamo.Models.Evento>

@{
    ViewBag.Title = "Index";
}

<h2>Eventos Retrô</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Atracao)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atracao)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>

            <td>
                @Html.ActionLink("Ver mais...", "Details", new { id = item.EventoId }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }

</table>

