



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        #btnParticipar {
            display: none
        }
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div style="margin-left: 92%" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li>@Html.ActionLink("LogOff", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div style="width: 25%; margin-top: 5px">
        <div id="menulateral">
            <div id="foto">

            </div>
            <div style="max-width: 75%" class="col-2">
                <div class="col-2">
                    <div class="list-group" id="list-tab" role="tablist">
                        <div id="boxDetalhes" style="width:118%; height: 200px; background-color: black">
                            <p>Total de visitas: </p>
                            <p>Ingressos Vendidos: </p>
                            <p>Participantes do sorteio: </p>
                            <p>Total em R$ : </p>
                            <p>Vendas pendentes: </p>
                            <p>Vendas canceladas: </p>
                        </div>
                        <div class="btn-group-vertical">
                            <div class="btn-group dropright">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Estabelecimentos
                                </button>
                                <div class="dropdown-menu">

                                    @Html.ActionLink("Meus Estabelecimentos", "Index", "CadEstabelecimentoes", null, new { @class = "btn btn-secondary" })
                                    @Html.ActionLink("Adicionar Estabelecimento", "Create", "CadEstabelecimentoes", null, new { @class = "btn btn-secondary" })

                                </div>
                            </div>
                            <div class="btn-group dropright">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Eventos
                                </button>
                                <div class="dropdown-menu">
                                    @Html.ActionLink("Meus Eventos", "Index", "Eventoes", null, new { @class = "btn btn-secondary" })
                                    @Html.ActionLink("Adicionar Evento", "Create", "Eventoes", null, new { @class = "btn btn-secondary" })
                                    @Html.ActionLink("Eventos com sorteio", "Sorteio", "Eventoes", null, new { @class = "btn btn-secondary" })

                                </div>
                            </div>
                            


                        </div>




                    </div>
                    
                </div>
                <div class="col-2">
                    <div class="tab-content" id="nav-tabContent">
                        
                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>