<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{
        Sovamo.Models.CadCliente cliente = Sovamo.Repositories.Funcoes.GetUsuario();
        if (cliente != null)
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Estados", "Index", "Estados")</li>
                    <li>@Html.ActionLink("Cidades", "Index", "Cidades")</li>
                    <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Sair", "Logoff", "Publico")</li>
                </ul>
            </div>
            
        }
        else
        {
            <script type="text/javascript">
 window.location.href = "@Url.Action("AcessoNegado","Publico")";
            </script>
        }

    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
