<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        #btnssome {
            display: none
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" datatarget=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nome Indefinido", "Logar", "Publico", new { area = "" }, new
               { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Sobre", "About", "Publico")</li>*@
                </ul>
            </div>
            @Html.ActionLink("Eventos com sorteio", "Sorteio", "Eventoes", null, new { @class = "btn btn-primary" })
            <div class="btn-group dropright">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filtro por estilo
                </button>
                <div class="dropdown-menu">

                    @Html.ActionLink("Eletrônica", "Eletronica", "Eventoes", null, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Funk", "Funk", "Eventoes", null, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Sertanejo", "Sertanejo", "Eventoes", null, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("MPB", "Mpb", "Eventoes", null, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Reggae", "Reggae", "Eventoes", null, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Retrô", "retro", "Eventoes", null, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Rock", "Rock", "Eventoes", null, new { @class = "btn btn-secondary" })


                </div>
            </div>
        </div>

    </div>
    <div class="container body-content" style="width:100%">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
